body{
  background-image: linear-gradient(black, gray, white, gray, black);
  background-repeat: no-repeat;
}


h1.header{
 font-family: 'Hackers', sans-serif;
 text-align: center;
 font-weight: bold;
 color: white;
}

.card-title {
  font-family: 'Pockota', sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a:active {
  text-decoration: underline;
}

.card{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 20px;
  margin-bottom: 5px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 100%;
  height: 100%;
  object-fit: auto;
  position: center;
}

sub-header{
  font-family: 'Hackers', sans-serif;
  text-align: center;
}